dummy-policy-client/src/main/resources/policy.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://policy.msdemo.ckr.org/ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://policy.msdemo.ckr.org/ws" targetNamespace="http://policy.msdemo.ckr.org/ws">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://policy.msdemo.ckr.org/ws">

    <xs:element name="getPolicyRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPolicyResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="policy" type="tns:policy"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="policy">
        <xs:sequence>
            <xs:element name="policyno" type="xs:string"/>
            <xs:element name="policystatus" type="xs:int"/>
            <xs:element name="inceptionDate" type="xs:date"/>
            <xs:element name="currency" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getPolicyResponse">
    <wsdl:part element="tns:getPolicyResponse" name="getPolicyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPolicyRequest">
    <wsdl:part element="tns:getPolicyRequest" name="getPolicyRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PoliciesPort">
    <wsdl:operation name="getPolicy">
      <wsdl:input message="tns:getPolicyRequest" name="getPolicyRequest">
    </wsdl:input>
      <wsdl:output message="tns:getPolicyResponse" name="getPolicyResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PoliciesPortSoap" type="tns:PoliciesPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPolicy">
      <soap:operation soapAction=""/>
      <wsdl:input name="getPolicyRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPolicyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PoliciesPortService">
    <wsdl:port binding="tns:PoliciesPortSoap" name="PoliciesPortSoap">
      <soap:address location="http://localhost:8088/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
